{% extends "includes/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block maincss %}
<link rel="stylesheet" type="text/css" href="client/css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="client/bower_components/tether-drop/dist/css/drop-theme-arrows.min.css" />
<link rel="stylesheet" type="text/css" href="client/bower_components/tether-drop/dist/css/drop-theme-hubspot-popovers.css" />
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div class="edit-area" content-area on-drop="">
    <div class="widget-panel app-tools">
        <ul class="widgets" ng-controller="WidgetCtrl">
            <li>
                <a href="#" class="widget" title="New page" create-new-page>
                    <i class="fa fa-3x fa-file-text"></i>
                </a>
            </li>
            <li>
                <a href="#" class="widget widget-drop" title="Add picture" data-drop-content-id="#addPictureDrop">
                    <i class="fa fa-3x fa-file-image-o"></i>
                </a>
                <div id="addPictureDrop">
                    <ul class="widgets" style="margin-bottom: 10px;">
                        <li>
                            <a class="widget">
                                <i class="fa fa-2x fa-upload"></i>
                            </a>
                        </li>
                        <li>
                            <a class="widget">
                                <i class="fa fa-2x fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <form name="addPictureUrlForm" novalidate add-content="addPicture()">
                        <div class="form-group">
                            <input type="url" ng-model="pictureUrl" name="pictureUrl" class="form-control"
                                   placeholder="Picture URL" ng-required="true" />
                            <div ng-messages="addPictureUrlForm.pictureUrl.$error"
                                    ng-show="addPictureUrlForm.pictureUrl.$touched">
                                <div ng-message="required">
                                    Invalid url entered.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-sm" style="width: 100%;"
                                    ng-disabled="addPictureUrlForm.$invalid" ng-click="addPicture()">
                                add
                            </button>
                        </div>
                    </form>
                </div>
            </li>
            <li>
                <a href="#" class="widget widget-drop" title="Add video" data-drop-content-id="#addVideoDrop">
                    <i class="fa fa-3x fa-file-video-o"></i>
                </a>
                <div id="addVideoDrop">
                    <ul class="widgets">
                        <li>
                            <a class="widget">
                                <i class="fa fa-2x fa-upload"></i>
                            </a>
                        </li>
                        <li>
                            <a class="widget">
                                <i class="fa fa-2x fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a class="widget">
                                <i class="fa fa-2x fa-vimeo-square"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#" class="widget widget-drop" title="Add audio" data-drop-content-id="#addAudioDrop">
                    <i class="fa fa-3x fa-file-audio-o"></i>
                </a>
                <div id="addAudioDrop">
                    <ul class="widgets">
                        <li>
                            <a class="widget">
                                <i class="fa fa-2x fa-upload"></i>
                            </a>
                        </li>
                        <li>
                            <a class="widget">
                                <i class="fa fa-2x fa-soundcloud"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="widget" data-toggle="modal" href="#more-objs-modal" title="More widget objects">
                    <i class="fa fa-3x fa-plus"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="general-object-widget hide"></div>
    <div class="content-area" id="content-area">
    </div>
    <div class="action-btns app-tools">
        <a class="preview-button ankyb-btns" title="Preview" style="line-height: 56px;">
            <i class="fa fa-2x fa-eye"></i>
        </a>
        <a class="menu-button ankyb-btns" data-toggle="modal" href="#menu" title="Menu" style="line-height: 60px;">
            <i class="fa fa-2x fa-bars"></i>
        </a>
    </div>
    <div class="object-widget"></div>
    <div class="pages-nav app-tools">
        <a class="prev-page ankyb-btns" title="Prev page" style="line-height: 50px">
            <i class="fa fa-2x fa-chevron-up"></i>
        </a>
        <a class="next-page ankyb-btns" title="Next page" style="line-height: 65px">
            <i class="fa fa-2x fa-chevron-down"></i>
        </a>
    </div>
</div>

<!-- more objects modal -->
<div class="modal fade" id="more-objs-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Object</h4>
            </div>
            <div class="modal-body">
                <more-widgets>
                    <ul class="widgets text-center more-widgets" ng-show="page === 'objects'">
                        <li>
                            <a data-page="facebook" class="widget fa fa-5x fa-facebook-official page-nav"></a>
                        </li>
                        <li>
                            <a data-page="linkedin" class="widget fa fa-5x fa-linkedin-square page-nav"></a>
                        </li>
                    </ul>
                    <div ng-show="page === 'facebook'" class="widget-page">
                        <div class="header">
                            <a data-page="objects" class="pull-left page-nav">
                                <i class="fa fa-arrow-left"></i>
                                Back
                            </a>
                            <h4 class="pull-left">Facebook</h4>
                            <div class="clearfix"></div>
                        </div>
                        <div class="body">
                            <ul class="products">
                                <li class="product">Profile</li>
                                <li class="product">Share</li>
                                <li class="product">Like</li>
                            </ul>
                        </div>
                    </div>
                    <div ng-show="page === 'linkedin'" class="widget-page">
                        <div class="header">
                            <a data-page="objects" class="pull-left page-nav">
                                <i class="fa fa-arrow-left"></i>
                                Back
                            </a>
                            <h4 class="pull-left">Linkedin</h4>
                            <div class="clearfix"></div>
                        </div>
                        <div class="body">
                            <form name="linkedinSetupForm">
                                <div class="form-group">
                                    <input type="url" class="form-control" value="" placeholder="Profile url"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </more-widgets>
            </div>
        </div>
    </div>
</div>


<!-- menu modal -->
<div class="modal fade" id="menu">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Menu</h4>
            </div>
            <div class="modal-body">
                <div class="menu-nav col-md-2">
                    <ul class="nav">
                        <li>
                            <a href="#">Profile</a>
                        </li>
                        <li>
                            <a href="#">Sign out</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-body col-md-10">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="client/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="client/bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="client/bower_components/angular-messages/angular-messages.min.js"></script>
<script type="text/javascript" src="client/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="client/bower_components/tether/dist/js/tether.min.js"></script>
<script type="text/javascript" src="client/bower_components/tether-drop/dist/js/drop.min.js"></script>
<script type="text/javascript" src="client/js/main.js"></script>
<script>
    jQuery.event.props.push('dataTransfer');
    $(document).ready(function () {
        $('.widget-drop').each(function (i) {
            var contentId = $(this).attr('data-drop-content-id');
            var drop = new Drop({
                target: this,
                content: document.querySelector(contentId)
            });
        });
    });
</script>
{% endblock %}
{% block footer %}{% endblock %}
