{% extends "includes/base.html" %}
{% block title %}Login{% endblock %}
{% block header %}
    <header></header>
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="client/css/login.css" />
<div class="container">
    <form class="form-signin" action="/login" method="post">
        <h2 class="form-signin-heading">Login</h2>
        {% from "includes/_formhelpers.html" import login_fields %}
        {{ login_fields(form.username) }}
        {{ login_fields(form.password) }}
        <div class="checkbox">
            <label>
                {{ form.remember_me() }} Remember me
            </label>
        </div>
        {% from "includes/_formhelpers.html" import render_errors %}
        {{ render_errors(form.username) }}
        {{ render_errors(form.password) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
{% endblock %}