{% extends "includes/base.html" %}
{% block title %}Register{% endblock %}
{% block header %}
    <header></header>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1>Register</h1>
                {% from "includes/_formhelpers.html" import render_field %}
                <form role="form" name="registerForm" action="/register" method="POST">
                    {% for field in form %}
                        {{ render_field(field, class="form-control") }}
                    {% endfor %}
                    <button type="submit" class="btn btn-default">Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}