{% macro render_field(field) %}
<div class="form-group">
    {% if field.name not in ('csrf_token', 'is_authenticated') %}
        {{ field.label }}
        {{ field(**kwargs)|safe }}
        <div class="error">
            {% if field.errors %}
                <ul class="errors">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endmacro %}


{% macro render_errors(field) %}
    {% if field.errors %}
        <div class="error">
            <ul class="errors">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}


{% macro login_fields(field) %}
    {% if field.errors %}
        {{ field(class='form-control error', placeholder='Username', required='required', autofocus='autofocus',
                             id='inputUsername') | safe }}
    {% else %}
        {{ field(class='form-control', placeholder='Username', required='required', autofocus='autofocus',
            id='inputUsername') | safe }}
    {% endif %}
{% endmacro %}