<!DOCTYPE html>
<html lang="en" ng-app="Ankyb">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="jideobs">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}ANKYB{% endblock %}</title>

    <link href="client/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="client/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block maincss %}
        <link href="client/css/main.css" rel="stylesheet">
    {% endblock %}
    {% block css %}{% endblock %}
</head>

<body>
<div class="main-container content-100">
    {% block header %}
    <header>
        <div class="navbar-wrapper">
            <div class="container">
                <nav class="navbar navbar-inverse navbar-static-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">ANKYB</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#contact">Contact</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header">Nav header</li>
                                        <li><a href="#">Separated link</a></li>
                                        <li><a href="#">One more separated link</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

            </div>
        </div>
    </header>
    {% endblock %}
    {% block  content %}{% endblock %}
</div>
{% block footer %}
<footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>© 2015 Avorol, LLC. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>
{% endblock %}
<script src="client/bower_components/jquery/dist/jquery.min.js"></script>
<script src="client/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
{% block js %}{% endblock %}
<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text></svg>

</body>
</html>