* {
    /* outline: 1px solid red; */
}

html,
body {
    overflow: hidden;
}

html,
body,
.content-100 {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

html,
body {
    position: relative;
}

.edit-area {
    @extend .content-100;
}
.red {
    color: red;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a:hover {
    text-decoration: none;
}
.app-tools {
    z-index: 4600;
}
.modal {
    z-index: 5000;
}
/*------------HELPERS------------------*/
.box-shadow {
    box-shadow: 1px 1px 1px #ccc;
}
.ankyb-btns {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ccc;
    text-align: center;
    vertical-align: middle;
    line-height: 65px;
    color: #fff;
}

.margin-padding-zero {
    margin: 0;
    padding: 0;
}

.border-radius {
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/*------------WIDGET PANEL------------------*/
.widget-panel {
    position: absolute;
    top: 20px;
    left: 0;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #efefef;
    min-width: 200px;
    background-color: #efefef;
}

.widgets {
    list-style: none;
    @extend .margin-padding-zero;

    >li {
        display: inline-block;
        margin-left: 5px;
    }
}
.widget {
    display: inline-block;
    background-color: #999;
    padding: 5px 10px;
    @extend .border-radius;
    color: #fff;
}

/*------------MORE WIDGET MODAL------------------*/
#more-objs-modal {
    .modal-body {
        padding: 0;
    }
}
.more-widgets {
    padding: 15px;

    .widget {
        margin-left: 15px;
    }
}

.widget-page {
    .header {
        padding: 5px 15px;
        border-bottom: 1px solid #efefef;

        h4 {
            margin: 0 0 0 5px;
        }
    }

    .body {
        padding: 15px;
    }
}

/*------------ACTION BUTTONS------------------*/
.action-btns {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
}


/*------------GENERAL OBJECT WIDGET------------------*/
.general-object-widget {
    position: absolute;
    left: 0;
    top: 150px;
    height: 300px;
    width: 50px;
    background: #efefef;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


/*------------PAGES NAV------------------*/
.pages-nav {
    position: absolute;
    padding: 10px;
    right: 20px;
    bottom: 20px;

    >a {
        display: block;
        margin-bottom: 5px;
    }
}


/*------------CONTENT AREA------------------*/
.content-area {
    margin: 0 auto;
    width: 760px;
    height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .page {
        width: 95%;
        margin: 8px auto;
        height: 97.5%;
        max-height: 100%;
        border: 1px solid #eee;
        box-shadow: 1px 1px 15px #ccc   ;
        z-index: 0;
    }
}


/*------------EDIT AREA------------------*/
#menu {
    @media (min-width: 768px) {
        .modal-dialog {
            width: 90%;
        }

        .modal-body {
            height: 440px;
            padding: 0;
        }

        .menu-nav {
            border-right: 1px solid #efefef;
            height: 100%;

            .nav>li {
                border-bottom: 1px solid #efefef;
            }
        }

        .menu-body {
            height: 100%;
            max-height: 100%;
            overflow-y: hidden;
            overflow-x: scroll;
        }
    }
}


/*------------DRAGGABLES------------------*/
[draggable] {
    position: absolute;
}


/*------------DROPS------------------*/
.drop-element {
    z-index: 4600;
}